<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<style type="text/css">
body{
  padding: 0;
  margin: 0;
}
h3[class="tnx_order"]{
  padding-top: 0;
  padding-bottom: 0;
   margin-top: 0;
  margin-bottom: 0;
}

h3[class="tnx_order_compa"]{
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}


@media screen and (max-width: 480px){
  h3[class="tnx_order"], h3[class="tnx_order_compa"]{
      font-size: 16px !important;
  }
  
p[class="last_tnx"]{
  padding-left: 0px !important;
  }
}
  
</style>



<!-- tables-->
<p>&nbsp;</p>
<p>&nbsp;</p>
<table style="height: 498px; width: 100%; min-width: 320px; max-width: 480px;" align="center" class="main_tbl">
<tbody>
<tr style="height: 396px;">
<td style="width: 502px; height: 396px; text-align: center; font-family: Lato, Tahoma, Verdana, Segoe, sans-serif; color: black;">
<h3 class="tnx_order"><strong>Thank you for placing your order with</strong></h3>
<h3 class="tnx_order_compa"><strong>Train Tickets Online</strong></h3>
<p><span style="font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif; color: #71777d; padding-top: 15px; padding-bottom: 15px;">This email is to confirm your recent order.</span></p>
<p><span style="font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif; color: #71777d; padding-top: 15px; padding-bottom: 15px;">Order Number: <%=@current_order.uuid%></span></p>
<p>&nbsp;</p>
<table style="height: 52px; width: 100%;" align="center">
<tbody>
<% @purchased_items.each do |cart_item| %>
  <tr style="height: 23px;">
  <td style="width: 90px; text-align: center; height: 23px; font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif; color: #71777d; font-size: 12px;">
  <p style="padding-top: 1px; padding-bottom: 1px;"><%=cart_item.train_class.train.arrival_time.strftime("%H:%m")%></p>
  <p style="padding-top: 1px; padding-bottom: 1px;"><%=cart_item.train_class.train.end_station_time.strftime("%H:%m")%></p>
  <p style="font-size: 12px;"><img class="icons" src="/website/app/assets/images/passengers.png" height="13px;" />Passenger(s)x<%=cart_item.passenger_qty%></p>
  </td>
  <td style="width: 222px; text-align: center; height: 23px;">
  <p style="text-align: left; padding-left: 30px; font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif; color: #71777d; font-size: 12px; padding-top: 1px; padding-bottom: 1px;"><%=cart_item.train_class.train.from_station.name%></p>
  <p style="text-align: left; padding-left: 30px; font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif; color: #71777d; font-size: 12px; padding-top: 1px; padding-bottom: 1px;"><%=cart_item.train_class.train.to_station.name%></p>
  <p style="text-align: left; padding-left: 30px; font-size: 10px; color: #71777d; padding-top: 1px; padding-bottom: 1px;"><img class="icons" src="/website/app/assets/images/exit.png" height="13px;" /><%=cart_item.outbound%></p>
  </td>
  <td style="width: 104.5px; height: 23px; text-align: center; font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif; color: #71777d; font-size: 12px; padding-top: 1px; padding-bottom: 1px;"><%=number_to_currency cart_item.total_price%></td>
  </tr>
  </tbody>
  </table>
  <hr style="width: 250px;" />
  <div>
  <table style="height: 25px; width: 100%;" align="center">
<%end%>  
<tbody>
<tr>
<td class="SUBTOTAL_class" style="width: 294px; text-align: right; font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif; color: black; font-size: 12px;"><strong>&nbsp;SUBTOTAL</strong></td>
<td class="SUBTOTAL_class" style="width: 104px; text-align: center; font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif; color: black; font-size: 12px;"><strong>&nbsp;<%=number_to_currency @current_order.subtotal%></strong></td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<table style="height: 51px;" width="100%;" align="center">
<tbody>
<tr>
<td style="width: 524px; text-align:left; font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif; color: #71777d; font-size: 12px;">
<p style="padding-left: 30px; font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif; color: #71777d; font-size: 12px;" class="last_tnx">We hope you will enjoy stying in sri lanka and see you soon.</p>
<p style="padding-left: 30px; font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif; color: #71777d; font-size: 12px; padding-top: 1px; padding-bottom: 1px;" class="last_tnx">Thank you,</p>
<p style="padding-left: 30px; font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif; color: #71777d; font-size: 12px; padding-top: 1px; padding-bottom: 1px;" class="last_tnx">Booking Team</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
</div>
</td>
</tr>
</tbody>
</table>
