Hello,

This is ur Purchase order confirmation
--------------------------------------
Order Number: <%=@current_order.uuid%>
--------------------------------------
**************************************
<% @purchased_items.each do |cart_item| %>
----------------------------------------------------------------------------------|
  leaving - > <%=cart_item.train_class.train.arrival_time.strftime("%H:%m")%>     |
              <%=cart_item.train_class.train.from_station.name%>                  |
                                                                                  | Outbound : <%=cart_item.outbound%>
  Arriving - > <%=cart_item.train_class.train.end_station_time.strftime("%H:%m")%>|
              <%=cart_item.train_class.train.to_station.name%>                    | Total : <%=number_to_currency cart_item.total_price%>
----------------------------------------------------------------------------------|--------------------------
<%end%>


----------------------------------------------------------------------------------SUBTOTAL <%=@current_order.subtotal%>
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

Thank you for booking Tickets with us,
We hope you will enjoy stying in sri lanka.
See you soon