<div class="_display_section display_area_section ">

  
  <div class="passenger_siginup_form_edit_me">
    <div id="sign_up_form_edit_me">
  
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        
        <%= devise_error_messages! %>
        
        
      <div class="form_inputs_sign_up_form_edit_me">
        <h4 class= "text-center"><%= t('.title', resource: resource_class.model_name.human) %></h4>  <!-- //Edit | Delete your account -->
        
       
        
        <div class="field _email_feild_edit_me">
           <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>
        
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div class="field _email_feild_edit_me">
            <%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %>
          </div>
        <%end%>  
      
      
        <div class="field _password_feild_edit_me">
          <%= f.label :password %> <em>(<%= @minimum_password_length %> <%=t(".characters_minimum")%>)</em> <br/>
          <%= f.password_field :password, autocomplete: "off" %>
          <% if @minimum_password_length %>
            <br />
            
            <h6><i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>)</i></h6> <!-- //Blank if you dont want to change-->
          <% end %>
        </div>
      
        <div class="field _password_feild_edit_me">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
      
        <div class="field _password_feild_edit_me">
          <%= f.label :current_password ,:required => true%><!-- //Confirm with your current password-->
          <%= f.password_field :current_password, autocomplete: "off", class: "passenger_curre_pass_edit_me" %>
           <h6><i>(<%= t('.confirm_changes_with_current_password') %>)</i></h6>
        </div>
      
      
        <div class="actions update_edit">
           <%= f.submit  t('.update'), class: "btn btn-block btn-success"  %>
        </div>
      <%end%>   
        <div class="can_edit_me_sec">
          <h4><%= t('.cancel_my_account') %></h4>
    
          <p><%= t('.unhappy') %> <%= button_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete, class: "btn btn-block btn-danger" %></p>
    
          <div class ="bac_to_account"><%= link_to t('devise.shared.links.back'), purchases_path %> <!-- redirect to my bookings--></div>
        </div>  
      </div> 
    </div>
  </div>  
</div> 


  





    