<div class="errors">
  <%=devise_error_messages! %>
   
  
</div>
<div class="passenger_siginup_form _display_section display_area_section">
  <div id="sign_up_form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      
      <div class="form_inputs_sign_up_form">
        <h3 class= "text-center"><%=t ".create_account"%></h3>
        <div class="field _first_name_feild">
          <%= f.label (t".first_name") %><br />
          <%= f.text_field :first_name, autofocus: true, :required => true %>
        </div>
        
        <div class="field _second_name_feild">
          <%= f.label (t ".second_name") %><br />
          <%= f.text_field :second_name, :required => true%>
        </div>
        
        <div class="field _email_feild">
          <%= f.label :email %><br />
          <%= f.email_field :email%>
        </div>
      
        <div class="field _password_feild">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> <%=t ".characters_minimum"%>)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" , :required => true%>
        </div>
      
        <div class="field _password_confirm_feild">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", :required => true %>
        </div>
      
        <div class="actions">
          <%= f.submit (t ".sign_up")  , {:class =>"btn  btn-small _create_create_account_button"}  %>
             
          <%- if controller_name != 'sessions' %>
            <%= link_to (t ".log_in"), new_session_path(resource_name), class: "btn  btn-small create_create_login_button" %><br />
          <% end -%>
        </div>
      </div>  
    <% end %>
    
  <%#= render "devise/shared/links" %>
  </div>
</div>






