<div class="pop-destinations">
  <div class="hrd cded-list">
    <div class="row">
      <div class="col-md-12">
        <!--<div class="row">-->
          <%unless @destinations.nil?%>
            <%@destinations.each do |d|%>
              <div class="row">
                <div class="col-md-6">
                  <div class="des-itm">
                    <div class="des-img">
                      <%#=image_tag(thumb)%>
                    </div>
                  </div>
                </div>
              </div>
            <%end%>
          <%end%>
        <!--</div>-->
      </div>
    </div>
  </div>
</div>
