<script src="assets/calander.js" type="text/javascript"></script>
<!--<div class="landing-section">-->
  <div class="display_area_section _display_section">
    <div class="container">
      <div class="frm-booking-tble">
        <div class="bking-frm">
          <%=form_for @train, method: :get do |f|%>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3  -frm-name-header-col">
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <h3 class="frm-head">
                      find & book  your train
                    </h3>
                  </div>
                </div>
                
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 -frm-pickup-opt-col">
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 -frm-pickup-opt-col">
                    <div class="form-group">
                       <%= f.label (t "home_form.depature") ,  :class => 'form-container-item-label' %> </br>
                       <%= f.select(:from_station, @stations, {selected: @from}, { id: '_station'}) %>
                    </div>
                  </div>
                  
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 -frm-pickup-opt-col">
                    <div class="form-group">
                       <%= f.label (t "home_form.arrival"), {:class => 'form-container-item-label'} %> </br>
                       <%= f.select(:to_station, @stations, {selected: @to}, { id: '_station'}) %>
                    </div>
                  </div>
                  
                </div>
                
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 -frm-pickup-opt-col">
                    <div class="form-group">
                       <%= f.label (t "home_form.outbound"), {:class => 'form-container-item-label'} %> </br>
                       <input type="text" id="outbound" name="outbound" class="datepicker" readonly='true' required= "true"  placeholder="dd/mm/yyyy">
                    </div>
                  </div>
                  
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 -frm-pickup-opt-col">
                    <div class="form-group">
                       <%= f.label (t "home_form.passengers"), {:class => 'form-container-item-label'} %> </br>
                       <%= f.select(:passengers, @passengers, {selected: @passengers_select}, { id: 'adult_select'}) %>
                    </div>
                  </div>
                  
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 btn-col">
                <div class="btns-frm">
                  <%= f.submit (t "home_form.submit"), id: 'search-btn', class: 'btn btn-info'%>
                </div>
              </div>
            </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
  <%=render "popular"%>
<!--</div>-->


