<div class="display_area_section  _display_section">  
  <div class="container">
    <%unless @trains.nil?%>
      <% if @trains.empty?%>
        <div class="info_msg-no-trains">
          <h6 class='text-center'> No Train(s) found on this route . Please try another <%=link_to 'route',root_path%> </h6>
        </div>
      <%else%>
        <%=form_tag train_class_path, method: :get do%>
          <div class="row">
            <div class="col-md-12 col-lg-9">
              <div class="gn-inf-holder">
                <div class="gn-inf">
                  <h6 class="text-uppercase text-left text-muted ot-trn-txt"><%=t "train_results.out"%></h6>
                  <h6 class="ot-date-shw"><%=params[:outbound].to_date.to_formatted_s(:long_ordinal)%></h6>
                  <div class="frm-with-cde">
                    <span>
                      <p class="frm-with-cde-txt">
                        <strong class="trn-st-nme"><%=@train.from_station.name%></strong>
                        <abbr class="code-class"title="<%=@train.from_station.name%>">(<%=@train.from_station.station_code%>)</abbr> to 
                        <strong class="trn-st-nme"><%=@train.to_station.name%></strong>
                        <abbr class="code-class" title="<%=@train.to_station.name%>">(<%=@train.to_station.station_code%>)</abbr>
                        
                      </p>
                    </span>
                  </div>
                </div>
              </div>
              <% @trains .each do |t|%>
                <div class="tkt-holder" id="tkt-holder-id">
                  <div class="tkt-tme-sta text-center">
                    <div class="st-code">
                      <abbr title="<%=t.from_station.name%>"><h6 class="sd-cd-txt"><%=t.from_station.station_code%></h6></abbr>
                    </div>
                    <div class="time">
                      <h6><%=t.arrival_time.strftime("%H:%m")%></h6>
                    </div>
                    <div class="pointer-down">
                      <i class="fa fa-arrow-down down-point" aria-hidden="true"></i>
                    </div>
                    <div class="st-code">
                      <abbr title="<%=t.to_station.name%>"><h6 class="sd-cd-txt"><%=t.to_station.station_code%></h6></abbr>
                    </div>
                    <div class="time">
                      <h6><%=t.end_station_time.strftime("%H:%m")%></h6>
                    </div>
                  </div>
                  <div class="tkt-train-price-sel text-center">
                    
                    <%=t.train_type%>
                    <br>
                    <%=radio_button_tag(:train_id, t.id) %>
                  </div>
                </div>
              <%end%>
            </div>
            <div class="col-md-12 col-lg-3">
              <div class="cd-inf-holder">
                <div class="cd-inf-box">
                  
                  <div class="cd-btn-section text-center">
                    <%= hidden_field_tag :outbound,  Date.parse(params[:outbound]).strftime("%d/%m/%Y")%>  
                   <%= hidden_field_tag :passenger_qty, params[:train][:passengers].to_i, min:1, max: 10%>
                    <%= submit_tag("Continue" , class: 'btn btn-block ' , id: 'order-btn') %>
                  </div>
                </div>
                 <div class="cd-inf-al-inf">
                  <div class="cd-inf-al-inf-section">
                    <h6 class="ot-date-shw"><%=params[:outbound].to_date.to_formatted_s(:long_ordinal)%></h6>
                    <div class="frm-with-cde">
                    <span><p class="frm-with-cde-txt"><strong class="trn-st-nme"><%=@train.from_station.name%></strong> <st_code class="code-class">(<%=@train.from_station.station_code%>)</st_code> to <strong class="trn-st-nme"><%=@train.to_station.name%></strong> <st_code class="code-class">(<%=@train.to_station.station_code%>)</st_code></p></span>
                    <h6 class="ot-date-shw"><%=params[:train][:passengers].to_i%> x  <%= t "train_results.button_info_passengers"%></h6>
                  </div>
                  
                  </div>
                </div>
              </div>
            </div>
          </div>  
          <%end%>
        <%end%>
      <%end%>   
    
  </div>
</div>  
 
 
 
 