
<div class="display_area_section  _display_section"></div>
 
  <h2><%= t('.change_your_password') %></h2>
  
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>
  
    <div class="field">
      <%= f.label :password, t('.new_password') %><br />
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
    </div>
  
    <div class="field">
      <%= f.label :password_confirmation,  t('.confirm_new_password') %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
  
    <div class="actions">
      <%= f.submit t('.change_my_password')%>
    </div>
  <% end %>
</div>  
  
  <%= render "devise/shared/links" %>
