
<div class="display_area_section _display_section">
  
  <div class="password_recovery">
    <div class="trouble_double">
      <h2><%= (t'.forgot_your_password') %></h2>
    </div>
     
    <div id="password_form">
     
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    
        <div class="recovery_desc">
          <h5 class="recovery_desc_text"><%=t ".enter_email_address"%></h5>
        </div>
        <div class="field">
          <%#= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, :required => true, :placeholder => (t ".email_place") %>
        </div>
      
        <div class="actions">
          <%= f.submit t('.reset_password') , class:" btn btn-danger _recover_email_btn" %>
        </div>
      <% end %>
      <div class="error_messages">
        <% unless resource.errors.empty? %>
          <div class="email_error">
              <strong><h4 class= "no_email text-center"><%=t ".email_not_found"%></h4></strong> 
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



<%= render "devise/shared/links" %>

