<div class="display_area_section  _display_section"> 
  <div class="container">
    <%=form_tag reservation_path, method: :get do%>
      
        <div class="row">
          <div class="col-md-12 col-lg-9">
            <div class="gn-inf-holder">
              <div class="gn-inf">
                <h6 class="text-uppercase text-left text-muted ot-trn-txt"><%=t "train_results.out"%></h6>
                <h6 class="ot-date-shw"><%=params[:outbound].to_date.to_formatted_s(:long_ordinal)%></h6>
                <div class="frm-with-cde">
                  <span>
                    <p class="frm-with-cde-txt"><strong class="trn-st-nme"><%=@train.from_station.name%></strong>
                      <abbr class="code-class"title="<%=@train.from_station.name%>">(<%=@train.from_station.station_code%>)</abbr> to 
                      <strong class="trn-st-nme"><%=@train.to_station.name%></strong> 
                      <abbr class="code-class" title="<%=@train.to_station.name%>">(<%=@train.to_station.station_code%>)</abbr>
                    </p>
                  </span>
                </div>
              </div>
            </div>
            <!--<%#if @train.train_classes.empty?%>-->
            <!--  <div class="not-class">-->
            <!--    <i class="fa fa-exclamation-circle no-class-error" aria-hidden="true"></i>-->
            <!--    <p> Sorry! No classes available for this train or fully booked !</p>-->
            <!--  </div>-->
            <!--<%#else%>-->
            <% @train.train_classes.each do |train_class| %>
              <div class="tkt-holder" id="tkt-holder-id">
                <div class="tkt-tme-sta text-center">
                  <div class="st-code">
                    <abbr title="<%=@train.from_station.name%>"><h6 class="sd-cd-txt"><%=@train.from_station.station_code%></h6></abbr>
                  </div>
                  <div class="time">
                    <h6><%=@train.arrival_time.strftime("%H:%m")%></h6>
                  </div>
                  <div class="pointer-down">
                    <i class="fa fa-arrow-down down-point" aria-hidden="true"></i>
                  </div>
                  <div class="st-code">
                    <abbr title="<%=@train.to_station.name%>"><h6 class="sd-cd-txt"><%=@train.to_station.station_code%></h6></abbr>
                  </div>
                  <div class="time">
                    <h6><%=@train.end_station_time.strftime("%H:%m")%></h6>
                  </div>
                </div>
                <div class="tkt-train-price-sel text-center">
                  <%unless train_class.name == "standard"%>
                    
                      <h6 class="ot-date-shw">Limited Seats</h6>
                      <%=train_class.name%>
                    
                    <%else%>
                  <%=train_class.name%>
                  <%end%>
                  <br>
                  <%=radio_button_tag(:train_class_id, train_class.id) %>
                  <br>
                  <div class="t-cls-amt-bx text-center">
                    <h5 class="t-cls-amt"><%=pounds(train_class.price * params[:passenger_qty].to_i)%></h5>
                  </div>
                  
                </div>
                
              </div>
            <%end%>
            <%#end%>
          </div>
          <div class="col-md-12 col-lg-3">
            <div class="inf-message-holder">
              <div class="inf-message-inf callout top">
                
                
                <h6 class="inf-shw-impt">seats are not guaranteed until we confirm them via email.</h6>
                
              </div>
            </div>
            <div class="cd-inf-holder-class">
              <div class="cd-inf-box">
                <!--<div class="tot-shw-cls">-->
                <!--  <div class="tt-amt-header">-->
                <!--    <h6>TOTAL</h6>-->
                <!--  </div>-->
                <!--  <div class="tt-amt-price-shw">-->
                    
                <!--  </div>-->
                <!--</div>-->
                <div class="cd-btn-section text-center">
                  <%= hidden_field_tag :outbound,  Date.parse(params[:outbound]).strftime("%d/%m/%Y")%>  
                 <%= hidden_field_tag :passenger_qty,params[:passenger_qty].to_i, min:1, max: 10%> 
                  <%= submit_tag("Continue" , class: 'btn btn-block ' , id: 'order-btn') %>
                </div>
              </div>
               <div class="cd-inf-al-inf">
                <div class="cd-inf-al-inf-section">
                  <h6 class="ot-date-shw"><%=params[:outbound].to_date.to_formatted_s(:long_ordinal)%></h6>
                  <div class="frm-with-cde">
                  <span><p class="frm-with-cde-txt"><strong class="trn-st-nme"><%=@train.from_station.name%></strong> <st_code class="code-class">(<%=@train.from_station.station_code%>)</st_code> to <strong class="trn-st-nme"><%=@train.to_station.name%></strong> <st_code class="code-class">(<%=@train.to_station.station_code%>)</st_code></p></span>
                  <h6 class="ot-date-shw"><%=params[:passenger_qty].to_i%> x <%= t "train_class.button_info_passengers"%></h6>
                </div>
                
                </div>
              </div>
            </div>
          </div>
        </div>
      
    <%end%>
  </div>
</div>
