

<div class="container reservations_container _display_section display_area_section ">
  <div class="container">
    <%= form_for @cart_item, remote: true do |f| %>
      <div class="row">
        <div class="col-md-12 col-lg-9">
          <div class="ps-inf-holder">
            <div class="ps-inf">
              <h5 class="ps-inf-shw"><%=t "reservations.passenger_information"%></h5>
            </div>
          </div>
          <% if passenger_signed_in? %>
          <div class="req-address-ppt-holder">
            <div class="hello-box">
              <div class="hello-names">
                <%=t "reservations.dear"%> <%=current_passenger.first_name%> <%=current_passenger.second_name%>,
              </div>
              
              <div class="hello-names-ppt">
                <% if params[:passenger_qty].to_i >5 %>
                  <h4> <%=t "reservations.pass_req_2"%></h4>
                  <%else%>
                  <h4> <%=t "reservations.pass_req_1"%></h4>
                <%end%>
              </div>
            </div>
          </div>
          <div class="meg-ppt-box ">
            <div class="inf-message-ppt text-center callout top">
              <h6 class="ppt-inf-text">Please Enter valid Passport number as in passport to avoid purchase none refrundable </h6>
          </div>
          </div>
          
          <div class="ppt-opts">
            <div class="opts-boxes">
              <div class="row">
                <div class="col-lg-4  ppt-1">
                  <%=f.fields_for :passenger_passports, PassengerPassport.new do |ppt|%>
                    <div class= "ppt_section text-center">
                     <!--default ppt fild-->
                      <%= ppt.label (t "reservations.ppt") %>
                      <%= ppt.text_field :number, :required => true%>
                    </div>
                    
                      
                  <%end%>
                </div> 
                <div class="col-lg-4  ppt-2">
                  <% if params[:passenger_qty].to_i >5 %>
                   <%=f.fields_for :passenger_passports, PassengerPassport.new do |ppt|%>
                      <div class= "ppt_section text-center">
                         <!--exceed ppt fild-->
                        <%= ppt.label (t "reservations.ppt") %>
                        <%= ppt.text_field :number, :required => true%>
                      </div> 
                      
                   <%end%>
                   
                  <%end%> 
                </div>
                <div class="col-lg-4 ">
                  <!--<div class="female-male-options">-->
                    <!--<div class="row">-->
                    <div class="col-lg-12">
                      <div class="female-box">
                        <%= f.label (t "reservations.female_passengers"), {:class => 'form-container-item-label-male-female'} %>
                        <br>
                        <%= f.select(:female, @travelers, {selected: @travelers_select}, { id: 'female'}) %>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="male-box">
                        <%= f.label (t "reservations.male_passengers"), {:class => 'form-container-item-label-male-female'} %>
                        <br>
                        <%= f.select(:male, @travelers, {selected: @travelers_select}, { id: 'male'}) %>
                      </div>
                    </div>
                    <!--</div>-->
                  <!--</div>-->
                </div>
              </div>
            </div>
          </div>
          
          <%end%>
        </div>
        <div class="col-lg-3">
          <div class="cd-inf-holder-class-ppt">
              <div class="cd-inf-box">
                <div class="tot-shw-cls">
                  <div class="tt-amt-header text-center">
                    <h6>TOTAL</h6>
                  </div>
                  <div class="tt-amt-price-shw text-center">
                    <strong><h4 class="ppt-shw-price"><%=pounds(@train_class.price)%></h4></strong>
                  </div>
                </div>
                <div class="cd-btn-section text-center">
                 <%= f.hidden_field :passenger_qty, value: params[:passenger_qty].to_i, min: 1 , max: 10%>
                  <%= f.hidden_field :train_class_id, value: @train_class.id %>
                  <%= f.hidden_field :outbound, value: Date.parse(params[:outbound]).strftime("%d/%m/%Y")%>
                  <%= f.hidden_field :passenger_id, value: current_passenger.id %>
                  <%=f.submit (t "reservations.add_to_cart"), class: 'btn btn-block ' , id: 'add_to_crt_btn' %>
                </div>
              </div>
               <div class="cd-inf-al-inf">
                <div class="cd-inf-al-inf-section">
                  <h6 class="ot-date-shw"><%=params[:outbound].to_date.to_formatted_s(:long_ordinal)%></h6>
                  <div class="frm-with-cde">
                  <span><p class="frm-with-cde-txt"><strong class="trn-st-nme"><%=@train_class.train.from_station.name%></strong> <st_code class="code-class">(<%=@train_class.train.from_station.station_code%>)</st_code> to <strong class="trn-st-nme"><%=@train_class.train.to_station.name%></strong> <st_code class="code-class">(<%=@train_class.train.to_station.station_code%>)</st_code></p></span>
                  <span><h6 class="ot-date-shw"><%=@train_class.train.arrival_time.strftime("%H:%m")%></h6>
                  <i class="fa fa-long-arrow-right ppt-arrw" aria-hidden="true"></i>
                  <h6 class="ot-date-shw-ppt"><%=@train_class.train.end_station_time.strftime("%H:%m")%></h6></span>
                  <span><h6 class="ot-date-shw-ppt-t-name"><%=@train_class.name%></h6></span>
                  <h6 class="ot-date-shw"><%=params[:passenger_qty].to_i%> x <%= t "train_class.button_info_passengers"%></h6>
                </div>
                
                </div>
              </div>
            </div>
        </div>
      </div>
    <%end%>
  </div>
</div>



  
  
  
