<script>
  $.ajaxSetup({ cache: false });

window.onpopstate = function(event) {
    if(event && event.state) {
        location.reload()
    }
}

</script>

<div class=" display_area_section_crt  _display_section">  
  <div class="crt_dis_section">
    
     <% if !@cart_item.nil? && @cart_item.errors.any?  %>
      <div class="alert alert-danger">
        <ul>
        <% @cart_item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
      <% if @cart_items.size == 0 %>
        <div class="info_msg-no-trains">
          <h6 class='text-center'> <%=t "cart_pay.empty_cart_front"%><%= link_to (t "cart_pay.empty_cart_middle_link"), root_path %> <%=t "cart_pay.empty_cart_back"%></h6>
        </div>
      <%else%>
      <div class="itm-review-message">
        <div class="review-message-text">
          <%if current_order.cart_items.size > 1%>
          <h4>Review your <%=current_order.cart_items.size%> journeys</h4>
          <%else%>
          <h4>Your trip to <strong><%=@cart_item.train_class.train.to_station.name%></strong> </h4>
          <%end%>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 ">
          <% @cart_items.each do |cart_item| %>
            <%= form_for cart_item, remote: true do |f| %>
              <div class="tkt-holder-crt" id="tkt-holder-id">
                <div class="tkt-tme-sta-crt text-left">
                  <div class="st-code">
                    <h6 class="sd-cd-txt-small"><%=cart_item.train_class.train.from_station.name%> to</h6> 
                  </div>
                  <div class="st-code-crt-bg">
                    <strong><h5 class="sd-cd-txt-crt-big"><%=cart_item.train_class.train.to_station.name%></h5></strong>
                  </div>
                  <div class="st-code">
                    <h6 class="sd-cd-txt-crt"><%=cart_item.outbound.to_date.to_formatted_s(:long_ordinal)%></h6>
                  </div>
                  <div class="st-code-crt-bg-time">
                    <span>
                      <strong><h5 class="ot-date-shw-crt"><%=cart_item.train_class.train.arrival_time.strftime("%H:%m")%></h5>
                      <i class="fa fa-long-arrow-right ppt-arrw-crt" aria-hidden="true"></i>
                      <h5 class="ot-date-shw-ppt-crt"><%=cart_item.train_class.train.end_station_time.strftime("%H:%m")%></h5></strong></span>
                      
                      <h6 class="crt-pass"><%=cart_item.passenger_qty%> x Passenger(s)</h6>
                      <h6 class="crt-pass-train "><%=cart_item.train_class.train.train_type%></h6>
                      
                  </div>
                  
                </div>
                <div class="tkt-train-price-sel-crt text-center">
                  <%unless cart_item.train_class.name == "standard"%>
                    <h6 class="ot-date-shw-crt-highlight"><%=cart_item.train_class.name%></h6>
                  <%else%>
                    <h6><%=cart_item.train_class.name%></h6>
                  <%end%>
                  <div class="t-cls-amt-bx text-center">
                    <h5 class="t-cls-amt"><%=pounds(cart_item.train_class.price * cart_item.passenger_qty)%></h5>
                  </div>
                  <br>
                  <%= link_to cart_item, method: :delete, remote: true do %>
                      <i class="fa fa-trash-o" aria-hidden="true" id="trash"></i>  
                  <%end%>
                </div>
              </div>  
            <%end%>
          <%end%>
        </div>
        <div class="col-lg-4">
          <div class="crt-pay holder">
            <%= form_tag payment_path , id: "cardForm" do %>
              <div class="brain-render">
                <%=render "layouts/braintree_form"%>
              </div>
            <%end%>
          </div>
        </div>
      </div>
    <%end%>
  </div>
</div>


