<div class="display_area_section _display_section">
  <div class="passenger_form_login">
    
    <div id="login_form">
      
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form_inputs_login_form">
          <h3 class= "text-center"><%=t ".log_in"%></h3>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true%>
          </div>
        
          <div class="field _password_feild">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>
        
          <% if devise_mapping.rememberable? -%>
            <div class="field _rem_forgot">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
              <div class="forgot_forgot">
                <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                  <%= link_to (t ".forgot_your_password"),  new_password_path(resource_name), class: "forgot"  %><br />
                   
                  
                <% end -%>
              </div>
            </div>
          <% end -%>
        
          <div class="actions _login_action">
            <%= f.submit (t ".log_in") , {:class =>"btn  btn-block login_form_button"} %>
          </div>
        
        <% end %>
        <!--<div class="google_button_link">-->
          <%#= link_to (t ".Continue_with_google"), passenger_google_omniauth_authorize_path,  class: "btn  btn-block google_login" %> 
        <!--</div>-->
        
        <!--<div class="facebook_button_link">-->
          <%#= link_to (t".Continue_with_facebook"), passenger_facebook_omniauth_authorize_path, class: "btn  btn-block facebook_login" %>
        <!--</div>-->
        <hr class= "login_border">
        
          <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
            <%= link_to (t ".Create_account"), new_registration_path(resource_name), class: "btn  btn-block create_account_button" %><br />
          <% end -%>
        
        <%= render "devise/shared/links" %>
        <div id="recover_pass" style="display: none;">
      </div>  
    </div>
  </div>
</div>
      

      
