
.payment_form_form{
  border: 1px solid red;
  background: gray;
  padding-top: 5px;
  padding-bottom: 5px;
}

.card_forms{
  display: none;
}




//BRAINTREE FORM //

$red: #E91E63;
$blue: #3F51B5;
$grey: #EAE8E9;
$grey2: #f3f3f3;
$white: #FFF;
// .brain_rendere{
//   height: 442px;
// }
#cardForm {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 25px 5px rgba(0,0,0,.16), 0 0 2px 0 rgba(0,0,0,.12);
}

.paypl{
 text-align:  center; 
}

.panel {
    background: #FFF;
    width: 100%;
    max-width: 380px;
    box-shadow: 0 0 25px 5px rgba(0,0,0,.16), 0 0 2px 0 rgba(0,0,0,.12);
}

.panel__header {
    background: #292829;
}

.panel__footer{
 
   
    float: left;
    box-sizing: border-box;
    width: 100%;
    
}

#cardForm h3 {
    font-size: 16px;
    text-transform: none;
    margin: 0;
    color: #FFF;
    font-weight: 100;
}

.panel__content, .panel__header {
    padding: 20px;
    float: left;
    box-sizing: border-box;
    width: 100%;
}

.panel__content {
    overflow: hidden;
}

.textfield--float-label {
  width: 100%;
  float: left;
  display: inline-block;
}

.textfield--float-label-expire {
  width: 50%;
  float: left;
  display: inline-block;
}
.textfield--float-label-ccv {
  width: 50%;
  float: left;
  display: inline-block;
}


.hosted-field--label-expire, .hosted-field--label-expire {
  transform: translateY(0.4em);
  font-size: 1.125em;
  line-height: 32px;
  transition: all .15s ease-out;
  display: block;
  width: 100%;
  font-weight: 400;
  overflow: hidden;
  margin-bottom: 0.5em;
  &.label-float {
    height: 33px;
    margin-bottom: -1px;
    transform: translate(0, 0);
    font-size: 12px;
    line-height: 15px;
    text-overflow: ellipsis;
    color: #2196F3;
    transition: all .15s ease-out
  }
  &.filled {
    @extend .label-float;
    color: rgba(0, 0, 0, .54);
  }
  &.invalid {
    @extend .label-float;
    color: #F44336;
  }
}

span.icon {
  position: relative;
  top: 0.2em;
  margin-right: 0.2em;
}

svg {
  fill: #333;
}

.hosted-field--label {
  transform: translateY(0.4em);
  font-size: 1.125em;
  line-height: 32px;
  transition: all .15s ease-out;
  display: block;
  width: 100%;
  font-weight: 400;
  overflow: hidden;
  margin-bottom: 0.5em;
  &.label-float {
    height: 33px;
    margin-bottom: -1px;
    transform: translate(0, 0);
    font-size: 12px;
    line-height: 15px;
    text-overflow: ellipsis;
    color: #2196F3;
    transition: all .15s ease-out
  }
  &.filled {
    @extend .label-float;
    color: rgba(0, 0, 0, .54);
  }
  &.invalid {
    @extend .label-float;
    color: #F44336;
  }
}

span.icon {
  position: relative;
  top: 0.2em;
  margin-right: 0.2em;
}

svg {
  fill: #333;
}

.hosted-field {
  height: 32px;
  margin-bottom: 1em;
  display: block;
  background-color: transparent;
  color: rgba(0, 0, 0, .87);
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .26);
  outline: 0;
  width: 100%;
  font-size: 16px;
  padding: 0;
  box-shadow: none;
  border-radius: 0;
  position: relative;
}


.braintree-hosted-fields-focused {
  border-bottom: 2px solid $blue;
  transition: all 200ms ease;
}

.braintree-hosted-fields-invalid {
  border-bottom: 2px solid $red;
  transition: all 200ms ease;
}

//PAYMENT SECTION _ CARD DETAILS
.current_subt_t{
  
  // margin-bottom: 15px;
  margin-top: 1px;
  padding: 12px;
  background: #051723;
  color: #ffffff;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;

}

.current_subt_t_tot{
  float: left !important;
  font-size: 1.45em;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
}
.current_subt_t_dis_tot{
  float: right !important;
  font-size: 1.45em;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
}
// --Payment details selection--
//paypal button section
.paypal_container{
margin-bottom: 15px;
padding-right: 35;
}





/////////////////////////////////////////////////
#braintree-paypal-loggedin {
  display: none;
  margin-top: 10px;
  max-width: 500px;
  overflow: hidden;
  padding: 16px;
  border-top: 1px solid rgb(209, 212, 214);
  border-bottom: 1px solid rgb(209, 212, 214);
  background-image: url("paypal.svg"), none;
  background-size: 13px 15px;
  background-position: 20px 50%;
  background-repeat: no-repeat;
}

#bt-pp-name {
  color: rgb(40, 48, 54);
  font-size: 13px;
  font-weight: 800;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left: 36px;
  -webkit-font-smoothing: antialiased;
}

#bt-pp-email {
  color: rgb(110, 120, 127);
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left: 5px;
  -webkit-font-smoothing: antialiased;
}

#bt-pp-cancel {
  color: rgb(61, 149, 206);
  font-size: 11px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 20px;
  margin: 0px 0px 0px 25px;
  padding: 0px;
  border: 0px;
  cursor: pointer;
  text-decoration: underline;
  float: right;
  -webkit-font-smoothing: antialiased;
  background-color: transparent;
}
.crt-pay {
  margin-bottom: 20px;
}