

// ### DEVISE FORMS LOGINS ## 

//##Login and Sign up
  .passenger_form_login, .passenger_siginup_form{
    padding-top: 120px;
  }
  #login_form, #sign_up_form{
    background: #eeeeee;
    width: 290px;
    // height: 475px;
    border-radius: 1px;
    margin: auto;
    display: block;
    font-size: 14px;
    box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.3);
  }
  // .create_account_login{
  //   float: middle;
  //   padding-right: 20px;
  // }
  .form_inputs_login_form, .form_inputs_sign_up_form{
    padding: 20px;
  }
  
  #passenger_email, #passenger_password, 
  #passenger_second_name, #passenger_first_name,#passenger_password_confirmation {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom: 1px solid gray;
    background-color:#eeeeee;
    width: 250px;
  }
  
  #passenger_email:focus, #passenger_password:focus,
  #passenger_first_name:focus,#passenger_second_name:focus, #passenger_password_confirmation:focus {
    outline: none;
  }
  
  
  ._password_feild, ._second_name_feild ,._first_name_feild,
  ._email_feild, ._password_confirm_feild
  {
    padding-top: 20px;
  }
  
  .login_form_button{
    
    background-color: #009688;
    color: white;
    
  }
  
  ._login_action{
    padding-top: 30px;
  }
  
  
  ._rem_forgot{
    font-size: 12px;
  }
  .forgot_forgot{
    float: right;
    margin-top: 4px;
  }
  
  .facebook_button_link{
    padding-top: 10px;
  }
  .facebook_login {
    background-color: #3B5998;
    color: white;
  }
  .google_button_link{
    padding-top : 10px;
  }
  .google_login{
    background-color: #E91E63;
    color: white;
  }  
  
  .login_border{
    border-top: 2px solid black;
  }
  .create_account_button{
    margin-top: -10px;
    background-color: #678a4d;
    color: black;
    width: 250px;
  }
  
  ._create_create_account_button {
    margin-top: 10px;
    background-color: #678a4d;
    color: black;
    //width: 250px;
  }
  
   .create_create_login_button{
     float: right;
     margin-top: 9px;
     background-color: #009688;
    color: white;
   }
  
 //## forgot Password/ Password Recovery / new Password
 
 .password_recovery{
   padding-top: 100px;
   
 }
 .recovery_desc_text{
   font-size: 14px !important;
 }
 .trouble_double{
   margin: auto;
   display: block;
   text-align: center;
 }
 
 #password_form{
    background: #eeeeee;
    width: 350px;
    height: 250px;
    border-radius: 1px;
    margin: auto;
    display: block;
    font-size: 14px;
    box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.3);
    padding: 50px;
 }
 ._recover_email_btn{
   margin-top: 10px;
   display: block;
   width: 100%;
 }
 
 .error_messages{
   padding-top: 5px;
 }
 .no_email {
   color: red;
   text-transform: uppercase;
 }
 
 
 //passenger edit profile
 
 .editor_forma{
   display: block;
   position: absolute;
   align: center;
   border: 1px solid red;
   padding-top: 50px;
   width: 50%;
   left: 25%;
   right: 25%;
   text-align: center;
 }
 
.passenger_siginup_form_edit_me{
    // padding-top: 100px;
}
.bac_to_account{
  
}
  
 #sign_up_form_edit_me{
   background: #eeeeee;
    width: 290px;
    height: 580px;
    border-radius: 1px;
    margin: auto;
    display: block;
    font-size: 14px;
    box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.3);
} 

.form_inputs_sign_up_form_edit_me{
    padding: 20px;
  }
  


.update_edit{
  text-align: center;
  padding-top: 10px;
  
}
.passenger_curre_pass_edit_me{
  width: 250px;
   border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom: 1px solid gray;
    background-color:#eeeeee;
  
  
}
.passenger_curre_pass_edit_me:focus{
  outline: none;
}

.edit_me_redirect{
  text-align: center;
}

.can_edit_me_sec{
 text-align: center;
 
}

._email_feild_edit_me, ._password_feild_edit_me{
  padding-bottom: 5px;
}

