

.cart-img{
      font-size: xx-large;
      text-align: right;
      padding-top: 10px;
}

.cart-box{
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  // padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}

.cart-count{
  background: red;
  color: white;
  
  float: right;
  width: 25px;
  height: 25px;
  border-radius: 30px;
  color: white;
  position: fixed;
  margin-left: 30px;
  top: 5px;
}
.current-count{
  margin-top: -5px;
}
.lang-opts{
  color: white;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
}
.lang-opts a{
  color: white;
}

.desk-log-opts{
  float: right;
  margin-right: 100px;
  margin-top: -65px;
  font-size: 35px;
  color: white;
  
}


.topnav {
  overflow: hidden;
  background-color: #0c5460;
  position: fixed;
  width: 100%;
  z-index : 99999;
  top: 0;
}

.cart-mnu-all-itms  {
  
  // float: left;
  display: block;
  color: white;
  text-align: center;
  // padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-top: -75px;
}






//mobile navigations

@media (max-width: 319px) {
  .log_wish_etc_con{
   display : none;
  }
  
  .lang-opts{
   display: none;
 } 
 .fa.fa-ellipsis-v {
    display: none;
  }
  
  ._anim_bar {
    display: block;
    cursor: pointer;
    margin-top: 15px;
  }
  .drop_down_log_wish{
    display : none;
   }
 .bar1, .bar2, .bar3 {
    width: 20px;
    height: 5px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
      transform: rotate(-45deg) translate(-9px, 6px) ;
  }

  .change .bar2 {
    opacity: 0;
    
  }
  
  .change .bar3 {
      -webkit-transform: rotate(45deg) translate(-6px, -4px) ;
      transform: rotate(45deg) translate(-6px, -4px) ;
  }
 
  .site_nav{
   -webkit-transition: all 500ms ease 1ms;
    transition: all 500ms ease 1ms;
    background: white;
    bottom: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    margin-left: 50px;
    max-width: 250px;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 50px;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    width: 82.5%;
    z-index: 999;
  }
  .mobile_na{
    background: white;
    border-bottom: 1px solid #ccc;
    float: left;
    width: 100%;
    
  }

  .slide_me{
    transform: translateX(0%);
  }

.mob_nav_ul{
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  position: static;
  width: 100%;
    
  } 
  
  .menu_links{
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    // margin: 0px -7px;
    width: 100%;
    width: calc(100% - -14px);
  }
  
 .mob-nav-top{
    background: #f3f3f7;
    color: #222;
    position: relative;
    font-family: roboto;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.5rem;
    font-weight: normal;
    margin-top: 30px;
    
  }
  .mob_nav_toggle{
    -webkit-transition: all 500ms ease 1ms;
    transition: all 500ms ease 1ms;
    font-size: 1.4rem;
    border: 0;
    border-bottom: 1px solid #E1E1E1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #484849;
    display: block;
    font-family: DINCondensed-Light;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.6rem;
    font-weight: normal;
    padding: 14px 26px 13px;
    position: relative;
    text-align: left;
    width: 100%;
  }
  
  .mob_nav_ul_child{
    border-bottom: 1px solid #E1E1E1;
    box-sizing: border-box;
    position: relative;
    text-align: left;
    width: 100%;
    padding: 14px 26px 13px;
    color: #484849;
    display: block;
    font-family: 'Didact Gothic', sans-serif;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 14px;
  }
  .mob_nav_ul_child a {
    color: #484849;
  }
  
  #mob-nav_icn{
    float: right;
    position: relative;
    margin-right: 20px;
  }
  
  ._mob_cont{
   background: white;
   max-width: 1200px;
    padding: 0;
    margin: 0 ;
    position: relative;
  }

  
  .fa-angle-down{
    float: right;
    position: relative;
    margin-right: 20px;
  }
  
  .trains-home{
    background-image: url(srilanka.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .display_area_section {
    margin-top: 150px!important;
    // margin-bottom: 150px!important;
  }
  
  //main form
  .frm-booking-tble {
    background: #04091e;
    align-items: center;
    padding: 40px 50px 30px;
    display: flex;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .frm-head {
    margin-top: 0px !important;
    color: white;
    text-transform: uppercase !important;
    font-size: 16px;
  }
  
  .btns-frm {
    margin-top: 0px !important;
    width: 100%;
  }
  
  

  
}


  


@media (min-width: 320px)and (max-width: 767px) {
  .log_wish_etc_con{
   display : none;
  }
  
  .lang-opts{
   display: none;
 } 
 .fa.fa-ellipsis-v {
    display: none;
  }
  
  ._anim_bar {
    display: block;
    cursor: pointer;
    margin-top: 15px;
  }
  .drop_down_log_wish{
    display : none;
   }
 .bar1, .bar2, .bar3 {
    width: 20px;
    height: 5px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
      transform: rotate(-45deg) translate(-9px, 6px) ;
  }

  .change .bar2 {
    opacity: 0;
    
  }
  
  .change .bar3 {
      -webkit-transform: rotate(45deg) translate(-6px, -4px) ;
      transform: rotate(45deg) translate(-6px, -4px) ;
  }
 
  .site_nav{
   -webkit-transition: all 500ms ease 1ms;
    transition: all 500ms ease 1ms;
    background: white;
    bottom: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    margin-left: 50px;
    max-width: 250px;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 50px;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    width: 82.5%;
    z-index: 999;
  }
  .mobile_na{
    background: white;
    border-bottom: 1px solid #ccc;
    float: left;
    width: 100%;
    
  }

  .slide_me{
    transform: translateX(0%);
  }

.mob_nav_ul{
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  position: static;
  width: 100%;
    
  } 
  
  .menu_links{
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    // margin: 0px -7px;
    width: 100%;
    width: calc(100% - -14px);
  }
  
 .mob-nav-top{
    background: #f3f3f7;
    color: #222;
    position: relative;
    font-family: roboto;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.5rem;
    font-weight: normal;
    margin-top: 30px;
    
  }
  .mob_nav_toggle{
    -webkit-transition: all 500ms ease 1ms;
    transition: all 500ms ease 1ms;
    font-size: 1.4rem;
    border: 0;
    border-bottom: 1px solid #E1E1E1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #484849;
    display: block;
    font-family: DINCondensed-Light;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.6rem;
    font-weight: normal;
    padding: 14px 26px 13px;
    position: relative;
    text-align: left;
    width: 100%;
  }
  
  .mob_nav_ul_child{
    border-bottom: 1px solid #E1E1E1;
    box-sizing: border-box;
    position: relative;
    text-align: left;
    width: 100%;
    padding: 14px 26px 13px;
    color: #484849;
    display: block;
    font-family: 'Didact Gothic', sans-serif;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 14px;
  }
  .mob_nav_ul_child a {
    color: #484849;
  }
  
  #mob-nav_icn{
    float: right;
    position: relative;
    margin-right: 20px;
  }
  
  ._mob_cont{
   background: white;
   max-width: 1200px;
    padding: 0;
    margin: 0 ;
    position: relative;
  }

  
  .fa-angle-down{
    float: right;
    position: relative;
    margin-right: 20px;
  }
  
  .trains-home{
    background-image: url(srilanka.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .display_area_section {
    margin-top: 150px!important;
    // margin-bottom: 150px!important;
  }
  
  //main form
  .frm-booking-tble {
    background: #04091e;
    align-items: center;
    padding: 40px 50px 30px;
    display: flex;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .frm-head {
    margin-top: 0px !important;
    color: white;
    text-transform: uppercase !important;
    font-size: 18px;
  }
}

@media (min-width: 768px) and (max-width: 991px) { 
  .log_wish_etc_con{
    display: block;
    width: 100%;
    background: #ababab;  
    height: 58px;
    margin-top: -170px;
    position: fixed;
    z-index: 998;
    margin-left: 0;
    transition: all 500ms ease 1ms;
    will-change: top;
    transform: translate3d(0, 0, 0);
   
  }
  
  .drop_down_log_wish_list{
    margin-top: 20px;
    width: 150px;
    margin-left: 10px;
    margin-right: 10px;
    
  }
  
  .drop_down_log_wish_list_help{
    margin-top: 20px;
  
    width: 150px;
    margin-left: 25px;
    margin-right: 10px;
    
 }
 .drop_down_log_wish_ul{
   display: inline-flex;
  padding-left: 0;
   list-style: none;

 }
 .glyphicon-user, .fa-cogs,.fa-heart {
   padding-right: 10px;
 }
 
 .drop_down_log_wish{
   text-align: center;
    margin: auto;
  
 }
  .menue-bars{
      display: none;
  }
  #mob_nav{
    display: none;
  }
  .drop_me {
    margin-top: -100px;
  } 
  
  
  .trains-home{
     background-image: url(srilanka.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .display_area_section {
    margin-top: 175px !important;
    // margin-bottom: 175px !important;
  }
  
  //main form
  .frm-booking-tble {
    background: #04091e;
    align-items: center;
    padding: 40px 50px 30px;
    display: flex;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .frm-head {
    margin-top: 0px !important;
    color: white;
    text-transform: uppercase !important;
    font-size: 20px;
  }
  
  .btns-frm {
    margin-top: 0px !important;
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .log_wish_etc_con{
    display: block;
    width: 100%;
    background: #ababab;  
    height: 58px;
    margin-top: -170px;
    position: fixed;
    z-index: 998;
    margin-left: 0;
    transition: all 500ms ease 1ms;
    will-change: top;
    transform: translate3d(0, 0, 0);
   
  }
  
  .drop_down_log_wish_list{
    margin-top: 20px;
    width: 150px;
    margin-left: 10px;
    margin-right: 10px;
    
  }
  
  .drop_down_log_wish_list_help{
    margin-top: 20px;
  
    width: 150px;
    margin-left: 25px;
    margin-right: 10px;
    
 }
 .drop_down_log_wish_ul{
   display: inline-flex;
  padding-left: 0;
   list-style: none;

 }
 .glyphicon-user, .fa-cogs,.fa-heart {
   padding-right: 10px;
 }
 
 .drop_down_log_wish{
   text-align: center;
    margin: auto;
  
 }
  .menue-bars{
      display: none;
  }
  #mob_nav{
    display: none;
  }
  .drop_me {
    margin-top: -100px;
  } 
  
  .trains-home{
     background-image: url(srilanka.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .display_area_section {
    margin-top: 175px !important;
    // margin-bottom: 175px !important;
  }
  
  //main form
  .frm-booking-tble {
    background: #04091e;
    align-items: center;
    padding: 40px 50px 30px;
    display: flex;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .frm-head {
    margin-top: 0px !important;
    color: white;
    text-transform: uppercase !important;
    font-size: 20px;
  }
  
  .btns-frm {
    margin-top: 0px !important;
    width: 100%;
  }
}




@media (min-width: 1200px) { 
  .log_wish_etc_con{
    display: block;
    width: 100%;
    background: #ababab;  
    height: 58px;
    margin-top: -170px;
    position: fixed;
    z-index: 998;
    margin-left: 0;
    transition: all 500ms ease 1ms;
    will-change: top;
    transform: translate3d(0, 0, 0);
   
  }
  
  .drop_down_log_wish_list{
    margin-top: 20px;
    width: 150px;
    margin-left: 10px;
    margin-right: 10px;
    
  }
  
  .drop_down_log_wish_list_help{
    margin-top: 20px;
  
    width: 150px;
    margin-left: 25px;
    margin-right: 10px;
    
 }
 .drop_down_log_wish_ul{
   display: inline-flex;
  padding-left: 0;
   list-style: none;

 }
 .glyphicon-user, .fa-cogs,.fa-heart {
   padding-right: 10px;
 }
 
 .drop_down_log_wish{
   text-align: center;
    margin: auto;
  
 }
  .menue-bars{
      display: none;
  }
  #mob_nav{
    display: none;
  }
  .drop_me {
    margin-top: -100px;
  } 
  
  
  .trains-home{
     background-image: url(srilanka.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .display_area_section {
    margin-top: 175px !important;
    // margin-bottom: 175px !important;
    
  }
  //main form
  .frm-booking-tble {
    background: #04091e;
    align-items: center;
    padding: 40px 50px 30px;
    display: flex;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .frm-head {
    margin-top: 0px !important;
    color: white;
    text-transform: uppercase !important;
    font-size: 20px;
  }
  
  .btns-frm {
    margin-top: 0px !important;
    width: 100%;
  }
}