.ps-inf-holder-sort{
  // position: fixed;
  // z-index: 5;
  float: left; 
  background: white;
  border: 1px solid #ffc022;
  margin-bottom: 20px;
  width: 250px;
  height: 50px;
  margin-left: -15px;
}

.ps-inf-holder-sort-profile{
  // position: fixed;
  // z-index: 5;
  float: right;
    background: white;
    border: 1px solid #ffc022;
    margin-bottom: 20px;
    width: 250px;
    height: 50px;
    margin-top: -70px;
    text-align: center;
    margin-right: -15px;
}
.ul_list_mi_or{
    margin-top: -22px;
}
.left-sort{
    width: 100%;
}

@media (max-width: 600px) {
 .ps-inf-holder-sort-profile{
   display : none;
 }
 .ps-inf-holder-sort{
   width: 100%;
   margin-left: 0;
 }
}

.pagination {
    text-align: center;
    display: block !important; 
    /* padding-left: 0; */
    list-style: none;
    border-radius: 0.25rem;
    font-size: 20px;
}