body .reservations-show {
  background: #e9ecef;
}

.ps-inf-holder{
  width: 100%;
  background: white;
  border: 1px solid #ffc022;
  margin-bottom: 20px;
  height: 50px;
  max-height: 68px;
  font-family: 'Didact Gothic', sans-serif;
}
.ps-inf{
  
  padding: 10px;
}

.req-address-ppt-holder{
  padding-top: 20px;
  border: 1px solid gray;
  background: white;
  
}

.hello-box{
  padding: 10px;
}
.hello-names{
  padding-bottom: 10px;
}

.ppt-inf-text{
  font-size: 12px;
  font-family: 'Didact Gothic', sans-serif;
}

.ppt-opts{
  margin-top: 10px;
  background: white;
  border: 1px solid gray;
}

.opts-boxes{
  padding: 10px;
  
}
.ppt-1,.ppt-2{
  width: 100%;
  
}
.female-box {
  width: 50%;
  float: left;

}
.male-box{
   width: 50%;
  float: right;
  text-align: right;
 
}
.form-container-item-label-male-female{
  
    margin-top: -5px;

}

#add_to_crt_btn{
   background: #01C3A7;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: x-large;
  text-align: center;
  width: 100%;
  border-radius: 5px;
}

.ppt-arrw{
  
    float: left;
    margin-top: -22px;
    margin-left: 40px;

}
.ot-date-shw-ppt{
  font-size: 12px;
  color:#333333; 
  font-family: 'Didact Gothic', sans-serif;
  margin-top: -22px;
  margin-left: 70px;
}

.ot-date-shw-ppt-t-name{
  font-size: 12px;
  color:#333333; 
  font-family: 'Didact Gothic', sans-serif;
  padding-top: 10px;
}

.cd-inf-holder-class-ppt{
  margin-bottom: 20px;
  margin-top: 70px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

// cart

.itm-review-message{
  font-size: 14px;
  
}

.review-message-text{
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
}

.tkt-holder-crt{
  width: 100%;
  background: #ECFBF9;
  border: 1px solid gray;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom:10px;
}
.tkt-tme-sta-crt{
  padding: 10px;
}

.st-code-crt{
  color: gray;
}
.st-code-crt-bg{
  color: black;
}
.sd-cd-txt-crt-big{
  font-size: 16px;
}

.sd-cd-txt-small{
  font-size: 12px;
}

.st-code-crt-bg-time{
  padding-top: 5px;
  font-size: 14px;
}
.ppt-arrw-crt{
  
    float: left;
    margin-top: -22px;
    margin-left: 40px;
    color: black;
}
.ot-date-shw-ppt-crt{
  font-size: 14px;
  color: black; 
  font-family: 'Didact Gothic', sans-serif;
  margin-top: -22px;
  margin-left: 70px;
}

.ot-date-shw-crt {
  font-size: 12px;
  color: black; 
  font-family: 'Didact Gothic', sans-serif;
  margin-top: -10px;
}

.crt-pass{
  font-size: 12px;
  color: black; 
  font-family: 'Didact Gothic', sans-serif;
}

.crt-pass-train{
  color: gray;
}

.tkt-train-price-sel-crt{
    position: relative;
    float: right;
    margin-top: -150px;
    width: 100px;
    max-width: 220px;
}


.ot-date-shw-crt-highlight{
  // background: black;
  // color: white;
  // margin-right: 5px;
}

#male, #female, #female2, #male2{
  
  margin-bottom: 10px;
  height: 30px;
  // width: 170px !important ;
  // border-bottom: 1px solid #ccc;
  // box-shadow: 0 1px #f5f4f0;
}

#male{
  margin-top: -3px !important;
}
#cart_item_passenger_passports_attributes_0_number, #cart_item_passenger_passports_attributes_1_number
{
  width: 100%;
}



//callouts information
div.callout-ppt {
  margin-top: 10px;
	height: 30px;
	width: 320px;
// 	float: left;
transform: translateX(-50%);
left: 50%;
}

div.callout-ppt {
	background-color: #444;
	background-image: -moz-linear-gradient(top, #444, #444);
	position: relative;
	color: #ccc;
	
	padding: 10px;
	border-radius: 3px;
	box-shadow: 0px 0px 20px #999;
// 	margin: 25px;
	min-height: 50px;
	border: 1px solid #333;
	text-shadow: 0 0 1px #000;
	
	/*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;*/
}

.callout-ppt::before {
	content: "";
	width: 0px;
	height: 0px;
	border: 0.8em solid transparent;
	position: absolute;
}

.callout-ppt.top-ppt::before {
	left: 45%;
	bottom: -20px;
	border-top: 10px solid #444;
}