
html{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//landing-page background


//navigation bar cart-text
  .cart-text{
    margin-top: -9px;
  }
  
  


.bking-frm{
  width: 100%;
 
}



.form-container-item-label{
  color : white;
  
}
#_station, #outbound,#adult_select{
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 0;
}


.btn-info{
  width: 100%;
  height: 50px;
  border-radius: 0;
}