//### TRAIN SEARCH RESULTS AND TRAIN CLASS ###
body .trains-result {
  background: #e9ecef;
}

.info_msg-no-trains{
   
   position: fixed;
   top: 200px;
   left: 50%;
   transform: translateX(-50%);
   background: white;
   border: 1px solid gray;
   padding: 25px;
}
.gn-inf-holder{
  background: white;
  border: 1px solid #ffc022;
  margin-bottom: 20px;
  height: 65px;
  max-height: 68px;
}
.gn-inf{
  text-align: left;
  padding: 10px;
}
.ot-trn-txt{
  margin-top: -5px;
}
.ot-date-shw {
  font-size: 12px;
  color:#333333; 
  font-family: 'Didact Gothic', sans-serif;
  margin-top: -10px;
}
.frm-with-cde{
  margin-top: -5px;
}
.frm-with-cde-txt{
  
  font-size: 12px;
  color:#333333; 
  font-family: 'Didact Gothic', sans-serif;
}
.trn-st-nme{
  text-transform: uppercase!important;
}
.code-class{
  color: gray;
  text-transform: uppercase;
}
.tkt-holder{
  width: 100%;
  background: #ECFBF9;
  border: 1px solid gray;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom:10px;
}
.st-code{
  color: gray;
}
.sd-cd-txt{
  font-size: 12px;
}
.time{
  margin-top: -10px;
}
.tkt-tme-sta{
  position: relative;
  width: 100px;
  max-width: 110px;
  
  
  
}
.down-point{
  color: gray;
}
.tkt-train-price-sel{
  position: relative;
  // background: red;
  float: right;
  margin-top: -80px!important;
  width: 100px;
  max-width: 220px;
}
.t-cls-amt-bx{
  margin-right: 5px;
  margin-left: 5px;
}
.t-cls-amt{
  background: #FFBD24;
  // padding: 2px;
  // width: 100px;
  // font-size: 12px;
}

// side information section

.cd-inf-holder{
  margin-top: 85px;
  // border: 1px solid gray;
  // width: 100%;
  // background:#21314D;
  // color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
  
}
.cd-inf-holder-class{
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cd-inf-box{
  padding: 10px;
   border: 1px solid gray;
  width: 100%;
  background:#21314D;
  color: white;
}
.cd-btn-section{
  text-align: center;
  color: white;
  
}
#order-btn{
  background: #01C3A7;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: x-large;
  text-align: center;
  width: 100%;
  border-radius: 5px;
}
.cd-inf-al-inf{
  background: white;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  
}
.cd-inf-al-inf-section{
  padding-top: 20px!important;
  width: 100%;
  padding: 10px;
  
  
}

//callouts information
div.callout {
	height: 65px;
	width: 100%;
// 	float: left;
}

div.callout {
	background-color: #444;
	background-image: -moz-linear-gradient(top, #444, #444);
	position: relative;
	color: #ccc;
	
	padding: 10px;
	border-radius: 3px;
	box-shadow: 0px 0px 20px #999;
// 	margin: 25px;
	min-height: 50px;
	border: 1px solid #333;
	text-shadow: 0 0 1px #000;
	
	/*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;*/
}

.callout::before {
	content: "";
	width: 0px;
	height: 0px;
	border: 0.8em solid transparent;
	position: absolute;
}

.callout.top::before {
	left: 45%;
	bottom: -20px;
	border-top: 10px solid #444;
}
.inf-shw-impt{
  font-size: 12px!important;
  font-family: 'Didact Gothic', sans-serif;
}

//spinner
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 10;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}


@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

.not-class{
  width: 100%;
  background: gray;
  border: 1px solid black;
}