<div class="hello_name">
  <p><%= t('.greeting', recipient: @resource.email) %></p>
</div>

<div class="explanation">
  <p><%= t('.instruction_1') %></p>
</div>

<div class="link_button">
  <%=link_to t('.action'), edit_password_url(@resource, reset_password_token: @token), :class => "btn btn-rest_pass"%>
</div>


<div class="explanation_ignore">
  
  <p><%= t('.instruction_2') %></p>
  <p><%= t('.instruction_3') %></p>
  <br>
  <p><%= t('.instruction_4') %></p>, <br>
  <%= t('.instruction_5') %>

</div>

<div class="link_link_copy">
  <p>if your having trouble clicking the "Reset Password" button, copy and paste the URL below into your browser</p>
  <br>
  <p><%= edit_password_url(@resource, reset_password_token: @token) %></p>
</div>
