<%= link_to  cart_path do%>
  <div class="cart-mnu-all-itms">
    <div  class="cart-count" >
      <ct class="current-count"><%=current_order.cart_items.size%></ct>
    </div>
    <i class="fa fa-shopping-cart cart-img" aria-hidden="true"></i>
    <div class="cart-tot">
      <%=pounds( current_order.subtotal)%>
    </div>
  </div>
<%end%>
   
