<div class="log_wish_etc_con">
  <div class="container _drop_con">
   <div class="drop_down_log_wish">
    <ul class="drop_down_log_wish_ul">
      <li class ="drop_down_log_wish_list"><span class="glyphicon glyphicon-user"></span>
        <% if passenger_signed_in?%>
          <%=t "nav_bar_top.hello"%>,<%=current_passenger.first_name%> 
           <%= link_to "Exit", destroy_passenger_session_path, :method => 'delete', :class => "sign_in_out"  %>
          <%else%>
           <%= link_to "Login or Register", new_passenger_session_path%> 
        <%end%>
      </li>
      <li class ="drop_down_log_wish_list_help"><i class="fa fa-cogs" aria-hidden="true"></i></i><%=link_to "Manage Account",edit_passenger_registration_path, :class => "wish_link_path"%></li>
      <li class ="drop_down_log_wish_list"><i class="fa fa-heart" aria-hidden="true"></i><%=link_to "Bookings",purchases_path, :class => "wish_link_path"%></li>
      <li class ="drop_down_log_wish_close"><i class="fa fa-times" aria-hidden="true" role="button" area-pressed="false"></i></li>
    </ul>
   </div>
  </div>
</div>