<nav role ="navigation" id="mob_nav" class="site_nav mobile_na">
  <div class="container _mob_cont">
    <button class="mob_nav_toggle mob-nav-top">Menu</button>
    <ul class="mob_nav_ul menu_links">
      <li class="mob_nav_ul_child">
        <%= link_to_unless_current "English", locale: "en"%> |  <%= link_to_unless_current "Chinese", locale: "cn" %>
      </li>
      
      
      <li class="mob_nav_ul_child">
        <%#=link_to "Login or register", "#"%>
        
        <% if passenger_signed_in?%>
          
          <%=t "nav_bar_top.hello"%>,<%=current_passenger.first_name%> 
          <%= link_to "Exit", destroy_passenger_session_path, :method => 'delete', :class => "sign_in_out"  %>
          <%else%>
          
          <%= link_to "Login or Register", new_passenger_session_path%> 
        <%end%>
        <span class="glyphicon glyphicon-user" id=mob-nav_icn></span>
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </li>
      
      <li class="mob_nav_ul_child">
        <%=link_to "Bookings",purchases_path, :class => "wish_link_path"%>
        <i class="fa fa-heart-o" aria-hidden="true" id=mob-nav_icn></i>
        
      </li>
      
      <li class="mob_nav_ul_child">
        <%=link_to "Manage Account",edit_passenger_registration_path, :class => "wish_link_path"%>
        <i class="fa fa-cogs" aria-hidden="true" id=mob-nav_icn></i>
        
      </li>
      
    </ul>
    
</nav>