<div class="topnav">
  <div class="container">
    <div class="menue-holder">
      <div class="lang-opts">
        <%= link_to_unless_current "English", locale: "en"%> |  <%= link_to_unless_current "Chinese", locale: "cn" %>
      </div>
      <div class="logo-box">
        <%=link_to image_tag("logo.png", alt:"logo", :width => 75),root_path %>
      </div>
      <div class="desk-log-opts">
        <i class="fa fa-ellipsis-v desk-log" aria-hidden="true" role ="button" area-presses="false"></i>
        <div class="_anim_bar">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>
      </div>
      
      <div class="cart-box">
        <%#if passenger_signed_in?%>
          <strong class="cart-text"><%= render 'layouts/cart_text' %></strong>
        <%#end%>
      </div>
    </div>
  </div>
</div>
