<!DOCTYPE html>
<html>
  <head>
    <title>Carriage-Lanka</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
    <script src="https://js.braintreegateway.com/web/3.23.0/js/client.min.js"></script>
    <script src="https://js.braintreegateway.com/web/3.23.0/js/hosted-fields.min.js"></script>
    <script src="https://www.paypalobjects.com/api/checkout.js" data-version-4 log-level="warn"></script>
    <script src="https://js.braintreegateway.com/web/3.23.0/js/paypal-checkout.min.js"></script>
    <script src="https://js.braintreegateway.com/web/3.23.0/js/data-collector.min.js"></script>
  </head>

  <body>
    <%=render 'layouts/nav'%>
    <%=render "layouts/drop_down_nav"%>
    <%=render "layouts/mobile_menu"%>
    
    <%= yield %>
    <%= content_tag :body, class: "#{controller_name}-#{action_name}" do %>
        <!-- set background only for the home page -->
    <% end %>
    <div class="container">
      <% if notice%>
      <div id="notice_wrapper">
       <i class="fa fa-check-circle-o notice-correct" aria-hidden="true"></i>
       <p class= "notice">  <%=notice%></p>
      </div>
      <%elsif alert%>
       <div id="error_wrapper">
        <i class="fa fa-exclamation-circle notice-error" aria-hidden="true"></i>
        <p class= "alert"> <%=alert%></p>
      </div>
    <%end%>
    </div>
    
    
  </body>
</html>
